@font-face {
    font-family:'SelawikBold';
    src:url('font/selawkb.ttf') format('truetype');
    font-weight:bold;
    font-style:normal;
}

@font-face {
    font-family:'SelawikLight';
    src:url('font/selawkl.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'SelawikRegular';
    src:url('font/selawk.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'SelawikSemibold';
    src:url('font/selawksb.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:'SelawikSemilight';
    src:url('font/selawksl.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
}

tr {
	color:white;
}


h1,h2,h3,h4 {
	font-family:'SelawikRegular','Trebuchet', sans-serif;
	font-weight:normal;
	font-style:normal; 
	margin-top:0px;
	margin-bottom:4px;


}

h1 { 
	font-size:64px; 
}

h2 { 
	margin-top:0px;
	margin-bottom:8px;
	font-size:48px;
}

h3 { 
	margin-top:0px;
	margin-bottom:8px;
	font-size:32px;
}

h4 { 
	margin-top:0px;
	margin-bottom:8px;
	font-size:24px;
}

p {
	margin-top:0px;
	font-family:'SelawikRegular', 'Trebuchet', sans-serif;
	font-size:15px;
} 

a {
	font-family:'SelawikRegular', 'Trebuchet', sans-serif;
	font-size:15px;

	color:#ddd;
	text-decoration-line: underline; 
}
a:hover {
	color:#fff;
	text-decoration-thickness: 2px;
}

.columnwrap {
	width:100%; 
	padding:8px; 
	columns: 400px 4;
	column-gap: 8px;
}

video { width:100%;}


.col2 {
	columns: 400px 2;
	column-gap:8px; 
	row-gap:8px; 
	margin-bottom: 64px;

}


.ce {
	
	padding:8px;

	background-color:#666;
	border: 2px solid #696969;
	color:#ddd;
	text-align:left;
	width:100%;
	display:inline-block;
	margin:0;
	margin-bottom:8px;

    animation: fadein .5s;
    -moz-animation: fadein .5s; /* Firefox */
    -webkit-animation: fadein .5s; /* Safari and Chrome */
    -o-animation: fadein .5s; /* Opera */
}
.clickable {
	border: 3px dashed #999;
}



/* .columnite_clickable:hover { border: 3px dashed #fff;} */


/* columnite:hover{
 * 	color:#00f;
 * 	border:3px solid #0f0; 
 * } */



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



* {
	box-sizing:border-box;
}

body {
	margin:0px;
	background-color:#444;
}

.foot {
	width: 100%;
	height: 120px;
	
	color:#aaa;
	text-align:center;
	padding:50px;

}



.TMD {
	width:100%; 
	background-color:#333; 
	overflow:hidden;
	position:relative;
	/* height:48px; */
	
}


.button {

	height:100%;
	display:inline-block;
	padding:12px;
	/* border: solid 1px red;; */
	cursor:pointer;
	/* height:490px; */
	
	font-family:'SelawikRegular','Trebuchet',sans-serif;
	color:#white;
	opacity:0.8;
}
.button:hover {	opacity:1.0; font-style:bold; }
/* * .button:active { background-color:lightgrey; } */



li { 
	font-family:'SelawikRegular','Trebuchet',sans-serif;

}
